@theme {
  --color-faq-lightpink: #f8eeff;
  --color-faq-darkpurple: #301534;
  --color-faq-palepurple: #8b6990;
  --color-faq-pink: #ad28eb;
  --breakpoint-*: initial;
  --breakpoint-sm: 376px;
}

@layer components {
  .text-header {
    font-family: var(--font-work-sans);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0px;
  }

  .text-title {
    font-family: var(--font-work-sans);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0px;
  }

  .text-body {
    font-family: var(--font-work-sans);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
  }
}
